@model IEnumerable<ASPCoreWebApiLogin.ViewModels.StudentDisplayViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create", "AddOrEdit", new { /* id=item.PrimaryKey */ }) |

</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roll_No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roll_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department1)
            </td>
            <td>
                @Html.ActionLink("AddOrEdit", "AddOrEdit", new { id=item.SId}) 
                
                @Html.ActionLink("Delete", "Delete", new { id=item.SId })
            </td>
        </tr>
}
    </tbody>
</table>
